body {
    background-color: #ededed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    gap: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    min-height: 600px;
    max-width: 600px;
    max-height: 600px;
    border: solid black;
    margin: auto;
    margin-top: 15px;
    justify-content: space-between;
    
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.column > div {
    aspect-ratio : 1 / 1;
    flex: auto;
    border-width: thin;
    transition: all .5s;
}

.hovered {
    background-color: rgba(226, 28, 28, 0.863);
}


button {
    align-self: flex-start;
    margin-top: 190px;
    width: 140x;
    height: 70px;
    border-radius: 5px;
    border: 2px solid black;
}

button:hover {
    
    background-color: black;
    color: white;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 67px;
}