.container {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    min-height: 600px;
    max-width: 600px;
    max-height: 600px;
    border: solid black;
    margin: auto;
    margin-top: 60px;
    justify-content: space-between;
    
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.column > div {
    aspect-ratio : 1 / 1;
    flex: auto;
    border: solid grey;
    border-width: thin;
    transition: all .5s;
}

.hovered {
    background-color: rgba(226, 28, 28, 0.863);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}